<h2>Suggested Loans for Bundle</h2>

<table>
  <tr>
	<th>&nbsp;</th>
    <th>Lender</th>
    <th>Status</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Interest rate</th>
    <th>Settlement date</th>
	<th>Risk</th>
    <th>Locked</th>
    <th>Bundle</th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
	<td><input type="checkbox"></td>
    <td><%=h loan.lender.name %></td>
    <td><%=h loan.status %></td>
    <td><%=h loan.type %></td>
    <td><%=h loan.amount %></td>
    <td><%=h loan.interest_rate %></td>
    <td><%=h loan.settlement_date %></td>
    <td><%=h loan.risk %></td>
    <td><%=h loan.locked %></td>
    <td>Not Bundled</td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>