<h1>Listing loans</h1>

<table>
  <tr>
    <th>Lender</th>
    <th>Borrower</th>
    <th>Status</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Interest rate</th>
    <th>Settlement date</th>
    <th>Locked</th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%=h loan.lender_id %></td>
    <td><%=h loan.borrower_id %></td>
    <td><%=h loan.status %></td>
    <td><%=h loan.type %></td>
    <td><%=h loan.amount %></td>
    <td><%=h loan.interest_rate %></td>
    <td><%=h loan.settlement_date %></td>
    <td><%=h loan.locked %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New loan', new_loan_path %>