<h1>Listing loans</h1>

<p style="color: green"><%= flash[:notice] %></p>

<!--><div class="table_filter_commands">
	<input type="checkbox">Bundled/Unbundled<br />
	From:(mm/dd/yyyy)<input type="text" /> To:(mm/dd/yy)<input type="text" />
</div>-->

Auto-Bundle  <%= link_to 'New loan', new_loan_path %>

<div id="loans-grid"></div>


<table>
  <tr>
	<th>&nbsp;</th>
    <th>Lender</th>
    <th>Status</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Interest rate</th>
    <th>Settlement date</th>
    <th>Locked</th>
    <th>Bundle</th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
	<td><input type="checkbox"></td>
    <td><%=h loan.lender.name %></td>
    <td><%=h loan.status %></td>
    <td><%=h loan.type %></td>
    <td><%=h loan.amount %></td>
    <td><%=h loan.interest_rate %></td>
    <td><%=h loan.settlement_date %></td>
    <td><%=h loan.locked %></td>
    <td>Not Bundled</td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>